:root {
    // color
    --menu-link-color: #acacac;
    --menu-link-active: #444444;
    --light-torquise: #63cfcd;
    --dark-mint: #337978;
    --light-mint: #0e9997;
    --light-mint-hovered: #0c8482;
    --ultralight-mint: #d7f5f4;

    // border
    --border-radius: 3px;

    // font
    --default-font-weight: 300;
    --default-font-size: 12px;
}